* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
img{
    width: 100%;
}
ul {
    list-style: none;
}
@media (min-width:787px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 950px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1150px;
    }
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}